flows.json
[{"id":"d8e1667.b08a598","type":"tab","label":"Make Bucket and Add All random txt files in it","disabled":false,"info":""},{"id":"aab8a7d1.484548","type":"tab","label":"Make 1 more separated Bucket for the generated filtered pdf file that will be created after the filter","disabled":false,"info":""},{"id":"56dd4f86.5ee99","type":"tab","label":"Get Presigned URLs and send them to openwhisk function by invoking the openwhisk action via rest api here in nodered","disabled":false,"info":""},{"id":"bc2ca35.71ef96","type":"minio-config","name":"MinIO Instance","host":"192.168.1.9","port":"9000","useSsl":false},{"id":"9131ab3c.5de6f8","type":"openwhisk-service","name":"openwhisk","api":" http://localhost:3233"},{"id":"3cfff798.274f38","type":"openwhisk-localservice","name":"dockerservice","resolution":"ip","dockerurl":"","docker":"local"},{"id":"314660d7.ded97","type":"inject","z":"d8e1667.b08a598","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":120,"wires":[["4b11f987.db9128","7248aa84.04bcf4"]]},{"id":"4b11f987.db9128","type":"buckets","z":"d8e1667.b08a598","buckets_name":"Make Bucket \"random-txt-files\"","host":"bc2ca35.71ef96","buckets_operation":"makeBucket","buckets_bucket":"random-txt-files","buckets_region":"","buckets_prefix":"","buckets_recursive":false,"buckets_start_after":"","x":380,"y":120,"wires":[["9781fccb.125f3"],["dbb43ff.26e4ac"]]},{"id":"9781fccb.125f3","type":"debug","z":"d8e1667.b08a598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":80,"wires":[]},{"id":"dbb43ff.26e4ac","type":"debug","z":"d8e1667.b08a598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":180,"wires":[]},{"id":"370409df.481b66","type":"files","z":"d8e1667.b08a598","files_name":"Upload random txt file to Minio","host":"bc2ca35.71ef96","files_operation":"fPutObject","files_bucket":"random-txt-files","files_object":"sample.txt","files_filepath":"C:\\Users\\Χαρά\\Desktop\\sample.txt","files_metadata":"","x":450,"y":320,"wires":[["e303e439.01ea98"],[]]},{"id":"e303e439.01ea98","type":"debug","z":"d8e1667.b08a598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":360,"wires":[]},{"id":"7248aa84.04bcf4","type":"function","z":"d8e1667.b08a598","name":"Add MetaData","func":"msg.metaData={'x-amz-meta-filename': 'sample.txt'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":260,"wires":[["370409df.481b66"]]},{"id":"120848ab.c9e507","type":"inject","z":"aab8a7d1.484548","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":100,"wires":[["427b6911.4dfa58"]]},{"id":"427b6911.4dfa58","type":"buckets","z":"aab8a7d1.484548","buckets_name":"Make Bucket \"handwritting\"","host":"bc2ca35.71ef96","buckets_operation":"makeBucket","buckets_bucket":"handwritting","buckets_region":"","buckets_prefix":"","buckets_recursive":false,"buckets_start_after":"","x":390,"y":100,"wires":[["4410cc29.837aa4"],["f58447e7.ea3fa8"]]},{"id":"4410cc29.837aa4","type":"debug","z":"aab8a7d1.484548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":40,"wires":[]},{"id":"f58447e7.ea3fa8","type":"debug","z":"aab8a7d1.484548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":220,"wires":[]},{"id":"d036e4fa.69b708","type":"inject","z":"56dd4f86.5ee99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":100,"wires":[["a83087fa.5a1328"]]},{"id":"a83087fa.5a1328","type":"presigned","z":"56dd4f86.5ee99","presigned_name":"Get Presigned Obj 1","host":"bc2ca35.71ef96","presigned_operation":"presignedGetObject","presigned_bucket":"random-txt-files","presigned_object":"sample.txt","presigned_expiry":"100","presigned_req_params":"","presigned_resp_headers":"","presigned_issue":"","presigned_policy_bucket":"","presigned_policy_key":"","presigned_policy_key_prefix":"","presigned_policy_expires":"","presigned_policy_content_type":"","presigned_policy_content_length_range_from":"","presigned_policy_content_length_range_to":"","x":290,"y":100,"wires":[["6cae2bd0.32c844"],[]]},{"id":"235152b7.8ac9de","type":"http request","z":"56dd4f86.5ee99","name":"http request","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://127.0.0.1:80/run","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":280,"wires":[["5925ca2e.5c0394"]]},{"id":"6cae2bd0.32c844","type":"function","z":"56dd4f86.5ee99","name":"","func":"msg.headers = {\n      \"Authorization\": \"Basic 23bc46b1-71f6-4ed5-8c54-816aa4f8c502:123zO3xZCLrMN6v2BKK1dXYFpXlPkccOFqm12CdAsMgRU4VrNZ9lyGVCGuMDGIwP\",  \n      \"Content-Type\": \"application/json\"  \n    };\nmsg.payload = {\"value\": {\"payload\":msg.payload[\"presignedGetObject\"]},\n                \"meta\": {\"filename\":\"sample.txt\"}\n                }\nmsg.metaData = {'x-amz-meta-filename': 'sample.txt'};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":240,"wires":[["235152b7.8ac9de","54398747.f3d448"]]},{"id":"5925ca2e.5c0394","type":"debug","z":"56dd4f86.5ee99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":480,"wires":[]},{"id":"54398747.f3d448","type":"debug","z":"56dd4f86.5ee99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":400,"wires":[]},{"id":"59c9c534.dda4bc","type":"catch","z":"56dd4f86.5ee99","name":"","scope":null,"uncaught":false,"x":500,"y":40,"wires":[["b51cb04f.1b615","a83087fa.5a1328"]]},{"id":"b51cb04f.1b615","type":"delay","z":"56dd4f86.5ee99","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":120,"wires":[["74718261.2d12ec"]]},{"id":"74718261.2d12ec","type":"debug","z":"56dd4f86.5ee99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":220,"wires":[]},{"id":"a61c2271.98d87","type":"catch","z":"aab8a7d1.484548","name":"","scope":null,"uncaught":false,"x":200,"y":220,"wires":[["54254a5a.81fa44","427b6911.4dfa58"]]},{"id":"54254a5a.81fa44","type":"delay","z":"aab8a7d1.484548","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":300,"wires":[["2a82c5b2.4d265a"]]},{"id":"2a82c5b2.4d265a","type":"debug","z":"aab8a7d1.484548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":400,"wires":[]},{"id":"539aef22.9a8d7","type":"catch","z":"d8e1667.b08a598","name":"","scope":null,"uncaught":false,"x":180,"y":40,"wires":[["23c40334.40181c","4b11f987.db9128"]]},{"id":"23c40334.40181c","type":"delay","z":"d8e1667.b08a598","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":40,"wires":[["eb7f6336.57eea"]]},{"id":"eb7f6336.57eea","type":"debug","z":"d8e1667.b08a598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":20,"wires":[]},{"id":"91fd1aef.364918","type":"catch","z":"d8e1667.b08a598","name":"","scope":null,"uncaught":false,"x":100,"y":360,"wires":[["58d8038a.2e257c","7248aa84.04bcf4"]]},{"id":"58d8038a.2e257c","type":"delay","z":"d8e1667.b08a598","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":380,"wires":[["9467d8ba.f0e2d8"]]},{"id":"9467d8ba.f0e2d8","type":"debug","z":"d8e1667.b08a598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":420,"wires":[]}]