flows.json
[{"id":"d8e1667.b08a598","type":"tab","label":"Make Bucket and Add All random txt files in it","disabled":false,"info":""},{"id":"aab8a7d1.484548","type":"tab","label":"Make 1 more separated Bucket for the generated filtered pdf file that will be created after the filter","disabled":false,"info":""},{"id":"bdba89a3.7c8ec8","type":"tab","label":"Get Presigned URLs and send them to openwhisk function","disabled":false,"info":""},{"id":"bc2ca35.71ef96","type":"minio-config","name":"MinIO Instance","host":"127.0.0.1","port":"9000","useSsl":false},{"id":"9131ab3c.5de6f8","type":"openwhisk-service","name":"openwhisk","api":" http://localhost:3233/api"},{"id":"3cfff798.274f38","type":"openwhisk-localservice","name":"dockerservice","resolution":"ip","dockerurl":"","docker":"local"},{"id":"314660d7.ded97","type":"inject","z":"d8e1667.b08a598","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":120,"wires":[["4b11f987.db9128","7248aa84.04bcf4"]]},{"id":"4b11f987.db9128","type":"buckets","z":"d8e1667.b08a598","buckets_name":"Make Bucket \"random-txt-files\"","host":"bc2ca35.71ef96","buckets_operation":"makeBucket","buckets_bucket":"random-txt-files","buckets_region":"","buckets_prefix":"","buckets_recursive":false,"buckets_start_after":"","x":380,"y":120,"wires":[["9781fccb.125f3"],["dbb43ff.26e4ac"]]},{"id":"9781fccb.125f3","type":"debug","z":"d8e1667.b08a598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":80,"wires":[]},{"id":"dbb43ff.26e4ac","type":"debug","z":"d8e1667.b08a598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":180,"wires":[]},{"id":"370409df.481b66","type":"files","z":"d8e1667.b08a598","files_name":"Upload random txt file to Minio","host":"bc2ca35.71ef96","files_operation":"fPutObject","files_bucket":"random-txt-files","files_object":"sample.txt","files_filepath":"C:\\Users\\Χαρά\\Desktop\\detect\\sample.txt","files_metadata":"","x":450,"y":320,"wires":[["e303e439.01ea98"],[]]},{"id":"e303e439.01ea98","type":"debug","z":"d8e1667.b08a598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":360,"wires":[]},{"id":"7248aa84.04bcf4","type":"function","z":"d8e1667.b08a598","name":"Add MetaData","func":"msg.metaData={'x-amz-meta-txtfilenumber': '1'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":260,"wires":[["370409df.481b66"]]},{"id":"120848ab.c9e507","type":"inject","z":"aab8a7d1.484548","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":100,"wires":[["427b6911.4dfa58"]]},{"id":"427b6911.4dfa58","type":"buckets","z":"aab8a7d1.484548","buckets_name":"Make Bucket \"handwritting\"","host":"bc2ca35.71ef96","buckets_operation":"makeBucket","buckets_bucket":"handwritting","buckets_region":"","buckets_prefix":"","buckets_recursive":false,"buckets_start_after":"","x":390,"y":100,"wires":[["4410cc29.837aa4"],["f58447e7.ea3fa8"]]},{"id":"4410cc29.837aa4","type":"debug","z":"aab8a7d1.484548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":40,"wires":[]},{"id":"f58447e7.ea3fa8","type":"debug","z":"aab8a7d1.484548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":220,"wires":[]},{"id":"c089706e.823f9","type":"inject","z":"bdba89a3.7c8ec8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":80,"wires":[["20507f5.4fd2b8"]]},{"id":"20507f5.4fd2b8","type":"presigned","z":"bdba89a3.7c8ec8","presigned_name":"Get Presigned Obj 1","host":"bc2ca35.71ef96","presigned_operation":"presignedGetObject","presigned_bucket":"random-txt-files","presigned_object":"sample.txt","presigned_expiry":"100","presigned_req_params":"","presigned_resp_headers":"","presigned_issue":"","presigned_policy_bucket":"","presigned_policy_key":"","presigned_policy_key_prefix":"","presigned_policy_expires":"","presigned_policy_content_type":"","presigned_policy_content_length_range_from":"","presigned_policy_content_length_range_to":"","x":310,"y":80,"wires":[["e83cc9cf.24df98","aaa92f9b.66b34"],["35acc633.43044a"]]},{"id":"e83cc9cf.24df98","type":"debug","z":"bdba89a3.7c8ec8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":60,"wires":[]},{"id":"35acc633.43044a","type":"debug","z":"bdba89a3.7c8ec8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":140,"wires":[]},{"id":"aaa92f9b.66b34","type":"openwhisk-trigger","z":"bdba89a3.7c8ec8","name":"","namespace":"","trigger":"","service":"9131ab3c.5de6f8","params":[{"disabled":true}],"edit":false,"x":380,"y":240,"wires":[]}]